[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
lesscpy = "*"
cssmin = "*"
jsmin = "*"

[packages]
Flask = "*"
Flask_assets = "*"
Pathlib = "*"
Dash = "*"
Dash_Table = "*"
Dash_core_components = "*"
Dash_html_components = "*"
Dash-renderer = "*"
Pandas = "*"

[requires]
python_version = "3.7"
