<header>
  <div class="nav-wrapper">
    <a href="/" class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
      </a>
    <nav>
      <!--<a href="/"><i class="fas fa-home"></i> Home</a>-->
      <a href="/dashapp/"><i class="fas fa-chart-line"></i> Embdedded Plotly Dash</a>
    </nav>
</div>
</header>
