<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="theme-color" content="#0297f6">

  <meta property="og:site_name" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ title }} - Hackers and Slackers"/>
  <meta property="og:description" content="{{ description }}"/>
  <meta property="og:url" content="https://plotlydashflask.hackersandslackers.app/"/>
  <meta property="og:image" content="{{ url_for('static', filename='dist/img/dash@2x.jpg') }}"/>
  <meta property="og:image:width" content="1000"/>
  <meta property="og:image:height" content="523"/>
  <meta property="og:locale" content="en_US">

  <meta name="twitter:title" content="{{ title }}"/>
  <meta name="twitter:description" content="{{ description }}"/>
  <meta name="twitter:url" content="https://plotlydashflask.hackersandslackers.app/"/>
  <meta name="twitter:site" content="@hackersslackers"/>
  <meta name="twitter:creator" content="@toddrbirchard"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="{{ url_for('static', filename='dist/img/dash@2x.jpg') }}"/>

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}" />
  <link rel="stylesheet" href="https://use.typekit.net/uqq2lcv.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/favicon.png') }}" type="image/x-icon" />
  <script src="https://kit.fontawesome.com/feffb0a9eb.js" crossorigin="anonymous"></script>

</head>

<body class="{{template}}">
  <main class="container">
	  {% block content %}{% endblock %}
  </main>

  {% if base_url == 'plotlydashflask.hackersandslackers.app' %}
    {% include 'analytics.jinja2' %}
  {% endif %}
</body>

</html>
